# BlackRock (BLK):

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import quandl

import iex as IEX

from iexfinance import Stock
from iexfinance import get_historical_data
from iexfinance import get_stats_intraday

from datetime import datetime

quandl.ApiConfig.api_key = "9tQnPMV9zakeCm4K6S5X"

In [2]:
! ls data

EOD-datasets-codes.csv facebook_quandle.csv   jpm_quandle.csv
apple_quandle.csv      google_quandle.csv     microsoft_quandle.csv
blackrock_quandle.csv  gs_quandle.csv         moodys_quandle.csv
dow_quandle.csv        ibm_quandle.csv        twitter_quandle.csv

## Importing Stock History - BlackRock:

- **From Quadle**

In [3]:
df = pd.read_csv('data/blackrock_quandle.csv')
df.head()

,Date,WIKI/BLK - Open,WIKI/BLK - High,WIKI/BLK - Low,WIKI/BLK - Close,WIKI/BLK - Volume,WIKI/BLK - Ex-Dividend,WIKI/BLK - Split Ratio,WIKI/BLK - Adj. Open,WIKI/BLK - Adj. High,WIKI/BLK - Adj. Low,WIKI/BLK - Adj. Close,WIKI/BLK - Adj. Volume
0,1999-10-01,14.00,14.25,14.00,14.13,3162400.0,0.0,1.0,10.216910,10.399354,10.216910,10.311781,3162400.0
1,1999-10-04,14.00,14.13,14.00,14.06,533400.0,0.0,1.0,10.216910,10.311781,10.216910,10.260696,533400.0
2,1999-10-05,14.06,14.19,14.00,14.19,270600.0,0.0,1.0,10.260696,10.355568,10.216910,10.355568,270600.0
3,1999-10-06,14.13,14.88,14.13,14.88,205400.0,0.0,1.0,10.311781,10.859115,10.311781,10.859115,205400.0
4,1999-10-07,14.88,14.88,14.06,14.13,214200.0,0.0,1.0,10.859115,10.859115,10.260696,10.311781,214200.0

-------

## Querying IEX for BlackRock's Stock:

In [4]:
black = Stock('BLK')

In [5]:
print('Current Price:', black.get_price())
print('06/15/2018 Opening Price:', black.get_open())
print('06/15/2018 Closing Price:', black.get_close())

Current Price: 524.52
06/15/2018 Opening Price: 520.82
06/15/2018 Closing Price: 524.52

## Historical Data from IEX:

In [6]:
start = datetime(2013, 1, 1) ## 5 year limit:
end = datetime(2018, 6, 15) ## Today's Date

black_df = get_historical_data("BLK", start=start, end=end, output_format='pandas')
black_df.head(10)

                open      high       low     close   volume
date
2013-06-17  241.6454  246.5393  240.2624  244.6864   762654
2013-06-18  245.9187  247.6476  243.6048  245.1297   506428
2013-06-19  245.4843  246.6545  237.8066  238.0105   832063
2013-06-20  234.6947  235.7586  222.1319  223.4263  2373379
2013-06-21  229.1890  229.3132  214.5428  220.4651  2622578
2013-06-24  218.4437  220.1371  213.3104  217.7699  1564392
2013-06-25  221.2985  225.0753  219.5608  223.9316  1258714
2013-06-26  223.7100  229.9781  223.7100  228.7723  1028320
2013-06-27  228.1606  235.3862  228.1606  234.1095  1042380
2013-06-28  233.9500  233.9500  227.1676  227.7173  1407026

## Financial Statement:

In [7]:
iex = IEX.Stock()
financials = iex.get_financials('BLK')
financials.T

                                   0             1             2             3
cashChange               -1068000000     698000000     598000000    -292000000
cashFlow                  -141000000    1342000000    1347000000    1303000000
costOfRevenue             1814000000    1520000000    1449000000    1348000000
currentAssets             8758000000    9737000000    9430000000    8566000000
currentCash               6143000000    6894000000    6165000000    5508000000
currentDebt                     None          None          None          None
grossProfit               1769000000    1949000000    1784000000    1617000000
netIncome                 1089000000    2304000000     947000000     857000000
operatingExpense           387000000     460000000     390000000     375000000
operatingGainsLosses      -367000000    -258000000     -84000000     -90000000
operatingIncome           1382000000    1489000000    1394000000    1242000000
operatingRevenue          3512000000    3368000000    3163000000    2892000000
reportDate                2018-03-31    2017-12-31    2017-09-30    2017-06-30
researchAndDevelopment          None          None          None          None
shareholderEquity        31978000000   31825000000   30042000000   29555000000
totalAssets             216017000000  220217000000  220567000000  217488000000
totalCash                 6081000000    7038000000    6247000000    5582000000
totalDebt                       None          None          None          None
totalLiabilities                None          None          None          None
totalRevenue              3583000000    3469000000    3233000000    2965000000

## Earnings:

https://www.wallstreetmojo.com/revenue-vs-earnings/

In [8]:
earnings = iex.get_earnings('BLK')
earnings.T

                                 0           1           2           3
EPSReportDate           2018-04-12  2018-01-12  2017-10-11  2017-07-17
EPSSurpriseDollar             0.29        0.17        0.33       -0.15
actualEPS                      6.7        6.24        5.92        5.24
announceTime                   BTO         BTO         BTO         BTO
consensusEPS                  6.41        6.07        5.59        5.39
estimatedChangePercent    0.220952    0.180934   0.0875486    0.127615
estimatedEPS                  6.41        6.07        5.59        5.39
fiscalEndDate           2018-03-31  2017-12-31  2017-09-30  2017-06-30
fiscalPeriod               Q1 2018     Q4 2017     Q3 2017     Q2 2017
numberOfEstimates                6           7           7           7
symbolId                       796         796         796         796
yearAgo                       5.25        5.14        5.14        4.78
yearAgoChangePercent       0.27619    0.214008    0.151751   0.0962343

In [9]:
iex.get_chart('BLK', chart_range='5y')

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,5.550000,0.000000,2.321,244.6864,2013-06-17,246.5393,"Jun 17, 13",240.2624,241.6454,762654,762654,244.6451
1,0.443286,0.001812,0.181,245.1297,2013-06-18,247.6476,"Jun 18, 13",243.6048,245.9187,506428,506428,245.6349
2,-7.119200,-0.027283,-2.904,238.0105,2013-06-19,246.6545,"Jun 19, 13",237.8066,245.4843,832063,832063,241.6673
3,-14.584200,-0.086887,-6.128,223.4263,2013-06-20,235.7586,"Jun 20, 13",222.1319,234.6947,2373379,2373379,225.4901
4,-2.961200,-0.098989,-1.325,220.4651,2013-06-21,229.3132,"Jun 21, 13",214.5428,229.1890,2622578,2622578,219.9337
5,-2.695200,-0.110004,-1.223,217.7699,2013-06-24,220.1371,"Jun 24, 13",213.3104,218.4437,1564392,1564392,217.2172
6,6.161700,-0.084822,2.829,223.9316,2013-06-25,225.0753,"Jun 25, 13",219.5608,221.2985,1258714,1258714,222.8136
7,4.840700,-0.065039,2.162,228.7723,2013-06-26,229.9781,"Jun 26, 13",223.7100,223.7100,1028320,1028320,227.6260
8,5.337200,-0.043226,2.333,234.1095,2013-06-27,235.3862,"Jun 27, 13",228.1606,228.1606,1042380,1042380,233.0147
9,-6.392200,-0.069350,-2.730,227.7173,2013-06-28,233.9500,"Jun 28, 13",227.1676,233.9500,1407026,1407026,228.7571
10,-0.656063,-0.072031,-0.288,227.0613,2013-07-01,231.9286,"Jul 1, 13",226.7953,228.3911,835772,835772,228.6759
11,0.629468,-0.069459,0.277,227.6907,2013-07-02,229.9781,"Jul 2, 13",225.8200,226.8839,483370,483370,227.8167
12,-1.383100,-0.075111,-0.607,226.3077,2013-07-03,228.0453,"Jul 3, 13",224.3040,225.6250,248215,248215,226.2167
13,1.773200,-0.067865,0.784,228.0808,2013-07-05,229.5703,"Jul 5, 13",224.6409,228.5773,596218,596218,226.5872
14,-0.212776,-0.068735,-0.093,227.8680,2013-07-08,230.9976,"Jul 8, 13",226.8485,230.4923,844586,844586,228.6679
15,5.638600,-0.045690,2.475,233.5067,2013-07-09,233.8524,"Jul 9, 13",226.2899,229.9781,939040,939040,230.1651
16,1.179100,-0.040871,0.505,234.6858,2013-07-10,236.1132,"Jul 10, 13",232.6378,234.9429,884984,884984,234.3975
17,4.592500,-0.022102,1.957,239.2783,2013-07-11,241.1756,"Jul 11, 13",236.6717,237.2214,932335,932335,238.6471
18,-0.132984,-0.022646,-0.056,239.1453,2013-07-12,239.1895,"Jul 12, 13",235.5901,238.9325,675422,675422,237.4974
19,0.062057,-0.022392,0.026,239.2074,2013-07-15,240.4122,"Jul 15, 13",238.5070,239.5265,464695,464695,239.2759
20,-1.294400,-0.027682,-0.541,237.9130,2013-07-16,242.4522,"Jul 16, 13",235.3862,239.4290,661988,661988,238.0287
21,3.493100,-0.013406,1.468,241.4061,2013-07-17,241.4061,"Jul 17, 13",237.7356,238.3208,1075306,1075306,239.5718
22,5.869100,0.010580,2.431,247.2752,2013-07-18,247.9136,"Jul 18, 13",241.4154,242.5852,1234350,1234350,245.9379
23,1.604700,0.017138,0.649,248.8799,2013-07-19,248.8799,"Jul 19, 13",244.0658,248.2238,775137,775137,247.0356
24,4.681100,0.036269,1.881,253.5610,2013-07-22,253.5610,"Jul 22, 13",247.2929,248.4632,769421,769421,251.1475
25,-0.930905,0.032465,-0.367,252.6301,2013-07-23,256.0612,"Jul 23, 13",252.4794,253.5788,706067,706067,253.5731
26,-0.886578,0.028842,-0.351,251.7436,2013-07-24,253.9511,"Jul 24, 13",250.5023,252.8252,856228,856228,251.7737
27,0.913174,0.032574,0.363,252.6567,2013-07-25,254.0308,"Jul 25, 13",249.3499,250.2009,580320,580320,252.0417
28,1.241200,0.037646,0.491,253.8979,2013-07-26,253.9157,"Jul 26, 13",249.7310,250.9634,421460,421460,251.9168
29,-2.890200,0.025834,-1.138,251.0077,2013-07-29,254.2792,"Jul 29, 13",250.0413,254.2792,423985,423985,251.2970
...,...,...,...,...,...,...,...,...,...,...,...,...
1230,8.683000,1.115343,1.706,517.5956,2018-05-04,524.6474,"May 4, 18",502.9251,503.9594,601853,601853,515.9091
1231,3.182800,1.128350,0.615,520.7783,2018-05-07,523.9014,"May 7, 18",516.1633,519.4455,366616,366616,520.2511
1232,-3.650200,1.113432,-0.701,517.1281,2018-05-08,525.1745,"May 8, 18",512.9706,512.9706,634057,634057,518.4966
1233,11.358500,1.159853,2.196,528.4866,2018-05-09,529.6005,"May 9, 18",519.3361,519.7638,475172,475172,525.8653
1234,4.883500,1.179811,0.924,533.3701,2018-05-10,536.1948,"May 10, 18",528.2976,529.1728,527478,527478,533.5509
1235,4.147500,1.196761,0.778,537.5176,2018-05-11,539.3451,"May 11, 18",532.3060,534.8521,395693,395693,537.0115
1236,-0.666390,1.194038,-0.124,536.8512,2018-05-14,541.6453,"May 14, 18",533.2093,539.0692,415495,415495,536.9973
1237,-6.514700,1.167413,-1.214,530.3365,2018-05-15,535.7472,May 15,527.8898,533.0618,461153,461153,531.2897
1238,0.686282,1.170218,0.129,531.0228,2018-05-16,534.5338,May 16,527.4124,531.4107,474855,474855,531.7470
1239,1.670900,1.177047,0.315,532.6938,2018-05-17,534.1161,May 17,528.1384,531.1223,365729,365729,532.0320
1240,2.894300,1.188876,0.543,535.5881,2018-05-18,537.0104,May 18,531.5450,533.3900,518719,518719,535.2813
1241,4.963100,1.209159,0.927,540.5512,2018-05-21,545.0269,May 21,539.0792,539.0792,359081,359081,541.2351
1242,3.381700,1.222980,0.626,543.9329,2018-05-22,546.6183,May 22,542.9184,543.4952,406234,406234,544.9588
1243,-4.197300,1.205826,-0.772,539.7356,2018-05-23,539.8699,May 23,530.8736,538.8007,377715,377715,536.2994
1244,-1.820100,1.198387,-0.337,537.9155,2018-05-24,540.0141,May 24,531.8036,540.0141,413054,413054,536.3474
1245,-1.213400,1.193428,-0.226,536.7020,2018-05-25,537.4082,May 25,533.0518,534.2454,290043,290043,535.8294
1246,-15.267300,1.131033,-2.845,521.4348,2018-05-29,534.9217,May 29,515.2383,531.8682,714247,714247,524.5090
1247,9.975900,1.171803,1.913,531.4107,2018-05-30,532.4053,May 30,523.2350,524.4683,404142,404142,528.7499
1248,-0.059676,1.171559,-0.011,531.3510,2018-05-31,535.9561,May 31,527.8798,531.7389,542951,542951,532.0086
1249,4.804000,1.191192,0.904,536.1550,2018-06-01,539.9843,Jun 1,533.2507,537.7364,446690,446690,536.1034
1250,1.601300,1.197737,0.299,537.7563,2018-06-04,540.9988,Jun 4,535.2599,540.6109,417320,417320,537.5665
1251,-6.256100,1.172169,-1.163,531.5002,2018-06-05,536.9706,Jun 5,528.1882,536.5529,495029,495029,531.4383
1252,20.359800,1.255377,3.831,551.8600,2018-06-06,551.8600,Jun 6,535.7500,536.8200,682131,682131,547.9240
1253,-2.720000,1.244260,-0.493,549.1400,2018-06-07,557.0000,Jun 7,546.6950,555.0000,428389,428389,550.9160
1254,0.270000,1.245364,0.049,549.4100,2018-06-08,549.6400,Jun 8,544.3200,547.5400,370535,370535,548.0231
1255,-0.350000,1.243933,-0.064,549.0600,2018-06-11,552.5000,Jun 11,546.2000,550.7700,391803,391803,549.3517
1256,-1.950000,1.235964,-0.355,547.1100,2018-06-12,552.3500,Jun 12,543.4850,551.8900,425192,425192,546.8646
1257,-14.940000,1.174906,-2.731,532.1700,2018-06-13,547.5200,Jun 13,530.3200,546.3700,839577,839577,535.1418
1258,-8.810000,1.138901,-1.655,523.3600,2018-06-14,532.9600,Jun 14,522.1450,531.4300,989460,989460,525.2111
1259,1.160000,1.143642,0.222,524.5200,2018-06-15,525.7400,Jun 15,516.0000,520.8200,753060,753060,522.3348

## Getting a Quote:

In [10]:
print(iex.get_delayed_quote('BLK'))
iex.get_quote('BLK')

{'symbol': 'BLK', 'delayedPrice': 524.52, 'high': 525.74, 'low': 516, 'delayedSize': 149839, 'delayedPriceTime': 1529093051904, 'processedTime': 1529093953306}

{'symbol': 'BLK',
 'companyName': 'BlackRock Inc.',
 'primaryExchange': 'New York Stock Exchange',
 'sector': 'Financial Services',
 'calculationPrice': 'close',
 'open': 520.82,
 'openTime': 1529069498438,
 'close': 524.52,
 'closeTime': 1529093051904,
 'high': 525.74,
 'low': 516,
 'latestPrice': 524.52,
 'latestSource': 'Close',
 'latestTime': 'June 15, 2018',
 'latestUpdate': 1529093051904,
 'latestVolume': 714455,
 'iexRealtimePrice': 524.48,
 'iexRealtimeSize': 100,
 'iexLastUpdated': 1529092797738,
 'delayedPrice': 524.52,
 'delayedPriceTime': 1529093051904,
 'extendedPrice': 524.98,
 'extendedChange': 0.46,
 'extendedChangePercent': 0.00088,
 'extendedPriceTime': 1529095922621,
 'previousClose': 523.36,
 'change': 1.16,
 'changePercent': 0.00222,
 'iexMarketPercent': 0.01771,
 'iexVolume': 12653,
 'avgTotalVolume': 496761,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'marketCap': 84012187965,
 'peRatio': 21.76,
 'week52High': 594.52,
 'week52Low': 408.62,
 'ytdChange': 0.04155386992002641}

In [11]:
iex.get_effective_spread('BLK')

,effectiveQuoted,effectiveSpread,priceImprovement,venue,venueName,volume
0,0.833091,0.465992,0.045343,XCHI,CHX,16576
1,0.700788,0.321135,0.072027,XPHL,Nasdaq PSX,103743
2,0.631860,0.315137,0.267578,XCIS,NYSE National,512
3,0.760920,0.292045,0.058498,ARCX,NYSE Arca,427732
4,0.694192,0.290393,0.071275,BATY,Cboe BYX,338919
5,0.688479,0.283007,0.077353,BATS,Cboe BZX,694820
6,0.693500,0.270358,0.065479,EDGA,Cboe EDGA,102524
7,0.741344,0.252552,0.058099,XNYS,NYSE,1422654
8,0.700188,0.252400,0.072956,EDGX,Cboe EDGX,506810
9,0.704283,0.248752,0.068181,XBOS,Nasdaq BX,259035
10,0.824061,0.248309,0.045849,XASE,NYSE American,14210
11,0.621378,0.228292,0.082382,XNGS,Nasdaq,1213626
12,0.321889,0.113334,0.168725,IEXG,IEX,330643

## Stats:

In [12]:
iex.get_stats('BLK').T

                                         0
EBITDA                          4421000000
EPSSurpriseDollar                     None
EPSSurprisePercent                  4.5242
beta                               1.62312
cash                           11829000000
companyName                 BlackRock Inc.
consensusEPS                          6.41
day200MovingAvg                    505.548
day30ChangePercent                0.013378
day50MovingAvg                     528.435
day5ChangePercent               -0.0446946
debt                                     0
dividendRate                         11.52
dividendYield                      2.19629
exDividendDate       2018-06-06 00:00:00.0
float                            154982852
grossProfit                     9292000000
insiderPercent                        None
institutionPercent                    75.7
latestEPS                            30.21
latestEPSDate                   2017-12-31
marketcap                      84012187965
month1ChangePercent             -0.0109676
month3ChangePercent             -0.0547883
month6ChangePercent              0.0357362
numberOfEstimates                        6
peRatioHigh                              0
peRatioLow                               0
priceToBook                           2.63
priceToSales                       6.33561
profitMargin                         39.61
returnOnAssets                        2.27
returnOnCapital                       None
returnOnEquity                       16.61
revenue                         9667000000
revenuePerEmployee                  690500
revenuePerShare                         60
sharesOutstanding                160169656
shortDate                       2018-05-31
shortInterest                      1359888
shortRatio                          2.8947
symbol                                 BLK
ttmEPS                                24.1
week52change                       26.9124
week52high                          594.52
week52low                           408.62
year1ChangePercent                0.269124
year2ChangePercent                0.617975
year5ChangePercent                 1.14364
ytdChangePercent                 0.0416375