# IBM (IBM):

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import quandl

import iex as IEX

from iexfinance import Stock
from iexfinance import get_historical_data
from iexfinance import get_stats_intraday

from datetime import datetime

quandl.ApiConfig.api_key = "9tQnPMV9zakeCm4K6S5X"

In [3]:
! ls data

EOD-datasets-codes.csv facebook_quandle.csv   jpm_quandle.csv
apple_quandle.csv      google_quandle.csv     microsoft_quandle.csv
blackrock_quandle.csv  gs_quandle.csv         moodys_quandle.csv
dow_quandle.csv        ibm_quandle.csv        twitter_quandle.csv

## Importing Stock History - IBM:

- **From Quadle**

In [4]:
df = pd.read_csv('data/ibm_quandle.csv')
df.head()

,Date,WIKI/IBM - Open,WIKI/IBM - High,WIKI/IBM - Low,WIKI/IBM - Close,WIKI/IBM - Volume,WIKI/IBM - Ex-Dividend,WIKI/IBM - Split Ratio,WIKI/IBM - Adj. Open,WIKI/IBM - Adj. High,WIKI/IBM - Adj. Low,WIKI/IBM - Adj. Close,WIKI/IBM - Adj. Volume
0,1962-01-02,578.5,578.5,572.0,572.00,19360.0,0.0,1.0,15.270839,15.270839,15.099257,15.099257,387200.0
1,1962-01-03,572.0,577.0,572.0,577.00,14400.0,0.0,1.0,15.099257,15.231243,15.099257,15.231243,288000.0
2,1962-01-04,577.0,577.0,571.0,571.25,12800.0,0.0,1.0,15.231243,15.231243,15.072860,15.079459,256000.0
3,1962-01-05,570.5,570.5,559.0,560.00,18160.0,0.0,1.0,15.059661,15.059661,14.756092,14.782489,363200.0
4,1962-01-08,559.5,559.5,545.0,549.50,27200.0,0.0,1.0,14.769291,14.769291,14.386530,14.505318,544000.0

-------

## Querying IEX for IBM's Stock:

In [6]:
ibm = Stock('IBM')

In [7]:
print('Current Price:', ibm.get_price())
print('06/15/2018 Opening Price:', ibm.get_open())
print('06/15/2018 Closing Price:', ibm.get_close())

Current Price: 145.39
06/15/2018 Opening Price: 144.73
06/15/2018 Closing Price: 145.39

## Historical Data from IEX:

In [9]:
start = datetime(2013, 1, 1) ## 5 year limit:
end = datetime(2018, 6, 15) ## Today's Date

ibm_df = get_historical_data("IBM", start=start, end=end, output_format='pandas')
ibm_df.head(10)

                open      high       low     close    volume
date
2013-06-17  172.8835  174.3548  172.1272  172.5436   3220009
2013-06-18  172.5266  175.1355  172.3991  174.0987   3278051
2013-06-19  173.7333  174.2347  171.6003  171.6088   2846004
2013-06-20  170.5296  171.4048  167.6487  167.7082   4516229
2013-06-21  168.6855  168.7025  164.4706  166.1021   8918718
2013-06-24  164.8529  165.6347  162.6009  164.4705   4356153
2013-06-25  165.9746  166.2126  164.1390  165.6942   3847821
2013-06-26  166.5355  166.7564  165.2863  165.5922   3319852
2013-06-27  166.6035  167.3258  165.9576  166.2636   3515357
2013-06-28  162.9323  163.7226  160.1110  162.4055  10056556

## Financial Statement:

In [10]:
iex = IEX.Stock()
financials = iex.get_financials('IBM')
financials.T

                                   0             1             2             3
cashChange                 -72000000     995000000   -1109000000    1200000000
cashFlow                  4602000000    5733000000    3570000000    3466000000
costOfRevenue            10825000000   11681000000   10353000000   10495000000
currentAssets            49122000000   49735000000   44742000000   45013000000
currentCash              12262000000   11972000000   10915000000   11696000000
currentDebt               5977000000    6986000000    4299000000    8061000000
grossProfit               8247000000   10862000000    8800000000    8794000000
netIncome                 1679000000   -1054000000    2726000000    2331000000
operatingExpense          6533000000    6225000000    5681000000    6279000000
operatingGainsLosses        34000000     -78000000      18000000      61000000
operatingIncome           1714000000    4637000000    3119000000    2515000000
operatingRevenue         19071000000   22543000000   19153000000   19289000000
reportDate                2018-03-31    2017-12-31    2017-09-30    2017-06-30
researchAndDevelopment    1405000000    1427000000    1342000000    1484000000
shareholderEquity        18166000000   17594000000   19627000000   18419000000
totalAssets             125285000000  125356000000  121636000000  120495000000
totalCash                12842000000   12580000000   11515000000   12295000000
totalDebt                46387000000   46823000000   45626000000   45673000000
totalLiabilities                None          None          None          None
totalRevenue             19071000000   22543000000   19153000000   19289000000

## Earnings:

https://www.wallstreetmojo.com/revenue-vs-earnings/

In [9]:
earnings = iex.get_earnings('MSFT')
earnings.T

                                 0           1           2           3
EPSReportDate           2018-04-26  2018-01-31  2017-10-26  2017-07-20
EPSSurpriseDollar              0.1         0.1        0.12        0.27
actualEPS                     0.95        0.96        0.84        0.98
announceTime                   AMC         AMC         AMC         AMC
consensusEPS                  0.85        0.86        0.72        0.71
estimatedChangePercent    0.164384   0.0361446  -0.0526316   0.0289855
estimatedEPS                  0.85        0.86        0.72        0.71
fiscalEndDate           2018-03-31  2017-12-31  2017-09-30  2017-06-30
fiscalPeriod               Q3 2018     Q2 2018     Q1 2018     Q4 2017
numberOfEstimates               14          14          14          14
symbolId                      4563        4563        4563        4563
yearAgo                       0.73        0.83        0.76        0.69
yearAgoChangePercent       0.30137    0.156627    0.105263     0.42029

In [11]:
iex.get_chart('IBM', chart_range='5y')

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,0.713833,0.000000,0.415,172.5436,2013-06-17,174.3548,"Jun 17, 13",172.1272,172.8835,3220009,3220009,173.2319
1,1.555100,0.009013,0.901,174.0987,2013-06-18,175.1355,"Jun 18, 13",172.3991,172.5266,3278051,3278051,174.2254
2,-2.489900,-0.005418,-1.430,171.6088,2013-06-19,174.2347,"Jun 19, 13",171.6003,173.7333,2846004,2846004,172.8390
3,-3.900600,-0.028024,-2.273,167.7082,2013-06-20,171.4048,"Jun 20, 13",167.6487,170.5296,4516229,4516229,168.8040
4,-1.606100,-0.037333,-0.958,166.1021,2013-06-21,168.7025,"Jun 21, 13",164.4706,168.6855,8918718,8918718,166.7321
5,-1.631600,-0.046789,-0.982,164.4705,2013-06-24,165.6347,"Jun 24, 13",162.6009,164.8529,4356153,4356153,164.1870
6,1.223700,-0.039697,0.744,165.6942,2013-06-25,166.2126,"Jun 25, 13",164.1390,165.9746,3847821,3847821,165.4446
7,-0.101976,-0.040288,-0.062,165.5922,2013-06-26,166.7564,"Jun 26, 13",165.2863,166.5355,3319852,3319852,165.8232
8,0.671342,-0.036397,0.405,166.2636,2013-06-27,167.3258,"Jun 27, 13",165.9576,166.6035,3515357,3515357,166.5462
9,-3.858100,-0.058757,-2.320,162.4055,2013-06-28,163.7226,"Jun 28, 13",160.1110,162.9323,10056556,10056556,162.0487
10,0.144469,-0.057920,0.089,162.5499,2013-07-01,164.6914,"Jul 1, 13",162.4140,163.2892,4442222,4442222,163.6325
11,0.186958,-0.056836,0.115,162.7369,2013-07-02,164.2070,"Jul 2, 13",161.6831,162.1250,3657855,3657855,162.9663
12,1.487200,-0.048217,0.914,164.2240,2013-07-03,165.0483,"Jul 3, 13",161.8956,162.0145,1878313,1878313,163.8504
13,1.427700,-0.039943,0.869,165.6517,2013-07-05,165.8471,"Jul 5, 13",163.4592,165.2778,2405596,2405596,165.0465
14,0.042491,-0.039697,0.026,165.6942,2013-07-08,166.3740,"Jul 8, 13",165.3798,166.2211,2948458,2948458,165.8039
15,-3.127300,-0.057821,-1.887,162.5669,2013-07-09,163.8416,"Jul 9, 13",162.1250,163.0598,5204244,5204244,162.8419
16,0.807312,-0.053143,0.497,163.3742,2013-07-10,164.3770,"Jul 10, 13",162.5426,162.7454,3936860,3936860,163.5208
17,0.467389,-0.050434,0.286,163.8416,2013-07-11,164.9549,"Jul 11, 13",163.6802,164.6744,4179023,4179023,164.2227
18,-0.620354,-0.054029,-0.379,163.2213,2013-07-12,164.6064,"Jul 12, 13",162.8134,164.0711,4495419,4495419,163.4582
19,1.640100,-0.044523,1.005,164.8614,2013-07-15,165.6177,"Jul 15, 13",162.8898,163.5187,5677988,5677988,164.5161
20,-0.127472,-0.045262,-0.077,164.7339,2013-07-16,165.3543,"Jul 16, 13",163.7439,164.8954,3746445,3746445,164.8717
21,0.594861,-0.041814,0.361,165.3288,2013-07-17,165.6177,"Jul 17, 13",164.0371,165.4732,6834572,6834572,165.8102
22,2.923300,-0.024872,1.768,168.2521,2013-07-18,170.7590,"Jul 18, 13",166.5525,168.4900,8393610,8393610,168.6773
23,-3.781600,-0.046789,-2.248,164.4705,2013-07-19,168.2521,"Jul 19, 13",164.2155,168.1841,6997555,6997555,165.4443
24,0.467389,-0.044080,0.284,164.9379,2013-07-22,166.3825,"Jul 22, 13",164.2499,164.3515,3397910,3397910,165.2660
25,0.756323,-0.039697,0.459,165.6942,2013-07-23,166.9264,"Jul 23, 13",164.9464,165.0398,2864014,2864014,166.0004
26,1.385200,-0.031669,0.836,167.0794,2013-07-24,167.6657,"Jul 24, 13",166.4429,166.5185,2957839,2957839,167.0806
27,0.518379,-0.028665,0.310,167.5977,2013-07-25,168.1161,"Jul 25, 13",166.2721,166.8159,3014255,3014255,167.2580
28,0.110474,-0.028024,0.066,167.7082,2013-07-26,167.7252,"Jul 26, 13",165.7112,167.0624,2485006,2485006,166.8855
29,-0.968775,-0.033639,-0.578,166.7394,2013-07-29,167.5722,"Jul 29, 13",166.1616,167.2663,2113654,2113654,166.7842
...,...,...,...,...,...,...,...,...,...,...,...,...
1230,1.898900,-0.175107,1.352,142.3300,2018-05-04,142.7652,"May 4, 18",138.7399,139.5509,4402170,4402170,141.6143
1231,-0.682424,-0.179062,-0.479,141.6476,2018-05-07,142.7355,"May 7, 18",141.0743,142.4190,3657009,3657009,141.9496
1232,-0.217585,-0.180323,-0.154,141.4300,2018-05-08,141.9314,"May 8, 18",140.5003,141.4300,5369119,5369119,141.2783
1233,1.180000,-0.173484,0.834,142.6100,2018-05-09,143.0200,"May 9, 18",141.2800,141.9000,4195953,4195953,142.3058
1234,1.630000,-0.164037,1.143,144.2400,2018-05-10,144.3300,"May 10, 18",143.0100,143.1500,3726608,3726608,143.8527
1235,-0.100000,-0.164617,-0.069,144.1400,2018-05-11,144.8500,"May 11, 18",143.5800,144.1100,3073167,3073167,144.1260
1236,0.160000,-0.163690,0.111,144.3000,2018-05-14,145.1200,"May 14, 18",144.1400,144.4700,3216062,3216062,144.5912
1237,-0.560000,-0.166935,-0.388,143.7400,2018-05-15,143.9900,May 15,142.9200,143.5000,4089397,4089397,143.4976
1238,0.890000,-0.161777,0.619,144.6300,2018-05-16,145.0275,May 16,143.2700,143.7000,3168659,3168659,144.6101
1239,-0.130000,-0.162531,-0.090,144.5000,2018-05-17,145.1900,May 17,143.7700,144.5000,3147659,3147659,144.5343
1240,-0.420000,-0.164965,-0.291,144.0800,2018-05-18,144.9400,May 18,143.9900,144.4700,2682243,2682243,144.3291
1241,1.410000,-0.156793,0.979,145.4900,2018-05-21,146.0400,May 21,144.6800,144.9500,2894698,2894698,145.4940
1242,-0.400000,-0.159111,-0.275,145.0900,2018-05-22,146.2040,May 22,145.0000,145.5200,2284020,2284020,145.4596
1243,-0.420000,-0.161545,-0.289,144.6700,2018-05-23,144.7000,May 23,143.4800,144.3500,3459747,3459747,144.2682
1244,-0.600000,-0.165023,-0.415,144.0700,2018-05-24,144.4800,May 24,142.9500,144.3900,3398701,3398701,143.9318
1245,-0.430000,-0.167515,-0.298,143.6400,2018-05-25,144.5700,May 25,143.4600,143.9000,4914294,4914294,143.7983
1246,-2.420000,-0.181540,-1.685,141.2200,2018-05-29,142.8900,May 29,140.2100,142.5300,4537638,4537638,141.2091
1247,1.400000,-0.173426,0.991,142.6200,2018-05-30,143.1000,May 30,141.8200,141.9000,5118530,5118530,142.4924
1248,-1.310000,-0.181019,-0.919,141.3100,2018-05-31,142.8100,May 31,141.0500,142.8100,6830256,6830256,141.5310
1249,0.640000,-0.177309,0.453,141.9500,2018-06-01,142.8400,Jun 1,141.6200,142.4300,3857530,3857530,142.0786
1250,1.090000,-0.170992,0.768,143.0400,2018-06-04,143.1700,Jun 4,142.1800,142.3000,3035257,3035257,142.8645
1251,0.660000,-0.167167,0.461,143.7000,2018-06-05,144.0800,Jun 5,143.0400,143.0500,2836017,2836017,143.6883
1252,1.010000,-0.161313,0.703,144.7100,2018-06-06,144.7200,Jun 6,143.5400,144.3400,3220139,3220139,144.3003
1253,0.650000,-0.157546,0.449,145.3600,2018-06-07,146.7000,Jun 7,144.9300,145.0000,4316484,4316484,145.6718
1254,0.780000,-0.153026,0.537,146.1400,2018-06-08,146.4300,Jun 8,144.3700,145.0000,5210468,5210468,145.5623
1255,0.440000,-0.150476,0.301,146.5800,2018-06-11,147.4100,Jun 11,146.1400,146.6200,3259986,3259986,146.9371
1256,0.290000,-0.148795,0.198,146.8700,2018-06-12,147.5200,Jun 12,146.6200,147.1000,2640515,2640515,146.9869
1257,-0.520000,-0.151809,-0.354,146.3500,2018-06-13,147.4700,Jun 13,146.2000,146.7900,2968180,2968180,146.7736
1258,-1.150000,-0.158474,-0.786,145.2000,2018-06-14,146.9800,Jun 14,145.0900,146.6500,3326343,3326343,145.7826
1259,0.190000,-0.157372,0.131,145.3900,2018-06-15,145.4700,Jun 15,143.7000,144.9000,9116048,9116048,144.9944

## Getting a Quote:

In [12]:
print(iex.get_delayed_quote('IBM'))
iex.get_quote('IBM')

{'symbol': 'IBM', 'delayedPrice': 145.39, 'high': 145.47, 'low': 143.7, 'delayedSize': 2610829, 'delayedPriceTime': 1529092950538, 'processedTime': 1529093851536}

{'symbol': 'IBM',
 'companyName': 'International Business Machines Corporation',
 'primaryExchange': 'New York Stock Exchange',
 'sector': 'Technology',
 'calculationPrice': 'close',
 'open': 144.73,
 'openTime': 1529069458447,
 'close': 145.39,
 'closeTime': 1529092950538,
 'high': 145.47,
 'low': 143.7,
 'latestPrice': 145.39,
 'latestSource': 'Close',
 'latestTime': 'June 15, 2018',
 'latestUpdate': 1529092950538,
 'latestVolume': 8548747,
 'iexRealtimePrice': 145.36,
 'iexRealtimeSize': 300,
 'iexLastUpdated': 1529092795035,
 'delayedPrice': 145.39,
 'delayedPriceTime': 1529092950538,
 'extendedPrice': 145.69,
 'extendedChange': 0.3,
 'extendedChangePercent': 0.00206,
 'extendedPriceTime': 1529096361637,
 'previousClose': 145.2,
 'change': 0.19,
 'changePercent': 0.00131,
 'iexMarketPercent': 0.00798,
 'iexVolume': 68219,
 'avgTotalVolume': 3793446,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'marketCap': 133463412009,
 'peRatio': 10.46,
 'week52High': 171.13,
 'week52Low': 139.13,
 'ytdChange': -0.03754043334474094}

In [13]:
iex.get_effective_spread('IBM')

,effectiveQuoted,effectiveSpread,priceImprovement,venue,venueName,volume
0,0.758598,0.034448,0.005274,XCHI,CHX,6635
1,0.839087,0.027314,0.003066,XCIS,NYSE National,3112
2,0.876160,0.016855,0.001850,BATY,Cboe BYX,1717209
3,0.825251,0.016263,0.002442,XBOS,Nasdaq BX,2528995
4,0.861489,0.014852,0.001904,ARCX,NYSE Arca,4128303
5,0.755325,0.014210,0.003318,BATS,Cboe BZX,5246736
6,0.778097,0.014029,0.002901,XNYS,NYSE,9662817
7,0.768972,0.013861,0.003178,XASE,NYSE American,110130
8,0.842652,0.013510,0.002233,EDGA,Cboe EDGA,690976
9,0.761312,0.013463,0.003436,EDGX,Cboe EDGX,3043768
10,0.700582,0.011709,0.004053,XPHL,Nasdaq PSX,262084
11,0.687578,0.011434,0.003968,XNGS,Nasdaq,8540372
12,0.510560,0.008660,0.005878,IEXG,IEX,1526049

## Stats:

In [14]:
iex.get_stats('IBM').T

                                                               0
EBITDA                                               13899000000
EPSSurpriseDollar                                           None
EPSSurprisePercent                                        2.0833
beta                                                    0.889261
cash                                                 23810000000
companyName          International Business Machines Corporation
consensusEPS                                                 2.4
day200MovingAvg                                          149.054
day30ChangePercent                                     0.0214993
day50MovingAvg                                           145.642
day5ChangePercent                                    -0.00811843
debt                                                 91299000000
dividendRate                                                6.28
dividendYield                                            4.31942
exDividendDate                             2018-05-09 00:00:00.0
float                                                  915991026
grossProfit                                          28456000000
insiderPercent                                              None
institutionPercent                                          52.2
latestEPS                                                   6.15
latestEPSDate                                         2017-12-31
marketcap                                           133463412009
month1ChangePercent                                    0.0114791
month3ChangePercent                                     -0.07898
month6ChangePercent                                   -0.0265488
numberOfEstimates                                              8
peRatioHigh                                                 16.3
peRatioLow                                                   8.4
priceToBook                                                 8.09
priceToSales                                             1.66451
profitMargin                                                6.99
returnOnAssets                                              4.35
returnOnCapital                                             None
returnOnEquity                                             28.86
revenue                                              60985000000
revenuePerEmployee                                        153306
revenuePerShare                                               66
sharesOutstanding                                      917968306
shortDate                                             2018-05-31
shortInterest                                           14591674
shortRatio                                               3.63151
symbol                                                       IBM
ttmEPS                                                      13.9
week52change                                             -1.7512
week52high                                                171.13
week52low                                                 139.13
year1ChangePercent                                    -0.0175123
year2ChangePercent                                     0.0416249
year5ChangePercent                                     -0.157372
ytdChangePercent                                      -0.0375927