# Predictive Models

------

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

from datetime import datetime

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [9]:
! ls cd data

ls: cd: No such file or directory
data:
Apple.csv                EOD-datasets-codes.csv   JPMorgan_quandle.csv
Apple_clean.csv          FaceBook_quandle.csv     Microsoft_quandle.csv
Apple_quandle.csv        GoldmanSachs_quandle.csv Moodys_quandle.csv
BlackRock_quandle.csv    Google_quandle.csv       Twitter_quandle.csv
DOW_quandle.csv          IBM_quandle.csv

In [10]:
company_name = 'Apple'

In [11]:
df = pd.read_csv(f'data/{company_name}_clean.csv')

In [12]:
df.head()

,Date,Open,High,Low,Close,Volume,Ex_Dividend,Split_Ratio,Adj_Open,Adj_High,...,Low_Long_EMA,Close_Long_EMA,Volume_Long_EMA,Ex_Dividend_Long_EMA,Split_Ratio_Long_EMA,Adj_Open_Long_EMA,Adj_High_Long_EMA,Adj_Low_Long_EMA,Adj_Close_Long_EMA,Adj_Volume_Long_EMA
0,1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,...,28.750000,28.750000,2.093900e+06,0.0,1.0,0.422706,0.424470,0.422706,0.422706,1.172584e+08
1,1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,...,28.727099,28.727099,2.073920e+06,0.0,1.0,0.422398,0.424136,0.422369,0.422369,1.161395e+08
2,1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,...,28.674014,28.674014,2.049463e+06,0.0,1.0,0.421644,0.423355,0.421589,0.421589,1.147699e+08
3,1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,...,28.631204,28.631204,2.024065e+06,0.0,1.0,0.421014,0.422728,0.420959,0.420959,1.133476e+08
4,1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,...,28.600652,28.600652,1.998169e+06,0.0,1.0,0.420564,0.422279,0.420510,0.420510,1.118975e+08