# Twitter (TWTR):

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import quandl

import iex as IEX

from iexfinance import Stock
from iexfinance import get_historical_data
from iexfinance import get_stats_intraday

from datetime import datetime

quandl.ApiConfig.api_key = "9tQnPMV9zakeCm4K6S5X"

In [2]:
! ls data

EOD-datasets-codes.csv facebook_quandle.csv   jpm_quandle.csv
apple_quandle.csv      google_quandle.csv     microsoft_quandle.csv
blackrock_quandle.csv  gs_quandle.csv         moodys_quandle.csv
dow_quandle.csv        ibm_quandle.csv        twitter_quandle.csv

## Importing Stock History - Twitter:

- **From Quadle**

In [3]:
df = pd.read_csv('data/twitter_quandle.csv')
df.head()

,Date,WIKI/TWTR - Open,WIKI/TWTR - High,WIKI/TWTR - Low,WIKI/TWTR - Close,WIKI/TWTR - Volume,WIKI/TWTR - Ex-Dividend,WIKI/TWTR - Split Ratio,WIKI/TWTR - Adj. Open,WIKI/TWTR - Adj. High,WIKI/TWTR - Adj. Low,WIKI/TWTR - Adj. Close,WIKI/TWTR - Adj. Volume
0,2013-11-07,45.10,50.09,44.00,44.90,117701600.0,0.0,1.0,45.10,50.09,44.00,44.90,117701600.0
1,2013-11-08,45.93,46.94,40.69,41.65,27925300.0,0.0,1.0,45.93,46.94,40.69,41.65,27925300.0
2,2013-11-11,40.50,43.00,39.40,42.90,16113900.0,0.0,1.0,40.50,43.00,39.40,42.90,16113900.0
3,2013-11-12,43.66,43.78,41.83,41.90,6316700.0,0.0,1.0,43.66,43.78,41.83,41.90,6316700.0
4,2013-11-13,41.03,42.87,40.76,42.60,8688300.0,0.0,1.0,41.03,42.87,40.76,42.60,8688300.0

-------

## Querying IEX for Twitter's Stock:

In [4]:
twitter = Stock('TWTR')

In [6]:
print('Current Price:', twitter.get_price())
print('06/15/2018 Opening Price:', twitter.get_open())
print('06/15/2018 Closing Price:', twitter.get_close())

Current Price: 45.8
06/15/2018 Opening Price: 46.58
06/15/2018 Closing Price: 45.8

## Historical Data from IEX:

In [7]:
start = datetime(2013, 1, 1) ## 5 year limit:
end = datetime(2018, 6, 15) ## Today's Date

twitter_df = get_historical_data("TWTR", start=start, end=end, output_format='pandas')
twitter_df.head(10)

             open   high     low  close     volume
date
2013-11-07  45.10  50.09  44.000  44.90  117647566
2013-11-08  45.93  46.94  40.685  41.65   27900126
2013-11-11  40.50  43.00  39.400  42.90   16109544
2013-11-12  43.66  43.78  41.830  41.90    6316205
2013-11-13  41.03  42.87  40.760  42.60    8675248
2013-11-14  42.34  45.67  42.240  44.69   11092320
2013-11-15  45.25  45.27  43.430  43.98    8010663
2013-11-18  43.50  43.95  40.850  41.14   12810624
2013-11-19  41.39  41.90  40.000  41.75    7436616
2013-11-20  41.40  41.75  40.510  41.05    5767325

## Financial Statement:

In [8]:
iex = IEX.Stock()
financials = iex.get_financials('TWTR')
financials.T

                                 0           1           2           3
cashChange               -45355000    50682000   297958000    94071000
cashFlow                 242673000   198107000   239947000   189707000
costOfRevenue            222823000   217979000   210016000   212908000
currentAssets           5409235000  5321884000  5002422000  4840102000
currentCash             1630452000  1638413000  1586558000  1288323000
currentDebt               86571000    84976000    81938000    80133000
grossProfit              442048000   513581000   379617000   360947000
netIncome                 60997000    91079000   -21095000  -116488000
operatingExpense         367123000   403483000   372338000   399306000
operatingGainsLosses          None        None        None        None
operatingIncome           74925000   110098000     7279000   -38359000
operatingRevenue         664871000   731560000   589633000   573855000
reportDate              2018-03-31  2017-12-31  2017-09-30  2017-06-30
researchAndDevelopment   123346000   133996000   136115000   143171000
shareholderEquity       5210436000  5047218000  4829406000  4728896000
totalAssets             7539441000  7412477000  7075789000  6963098000
totalCash               4528831000  4403102000  4258096000  4079912000
totalDebt               1808605000  1793744000  1772492000  1746011000
totalLiabilities              None        None        None        None
totalRevenue             664871000   731560000   589633000   573855000

## Earnings:

https://www.wallstreetmojo.com/revenue-vs-earnings/

In [9]:
earnings = iex.get_earnings('TWTR')
earnings.T

                                 0           1           2           3
EPSReportDate           2018-04-25  2018-02-08  2017-10-26  2017-07-27
EPSSurpriseDollar             0.08        0.04        0.05         0.1
actualEPS                     0.09         0.1        0.02       -0.02
announceTime                   BTO         BTO         BTO         BTO
consensusEPS                  0.01        0.06       -0.03       -0.12
estimatedChangePercent         1.2           3         0.7  -0.0909091
estimatedEPS                  0.01        0.06       -0.03       -0.12
fiscalEndDate           2018-03-31  2017-12-31  2017-09-30  2017-06-30
fiscalPeriod               Q1 2018     Q4 2017     Q3 2017     Q2 2017
numberOfEstimates                9           9           8           7
symbolId                      8014        8014        8014        8014
yearAgo                      -0.05       -0.03        -0.1       -0.11
yearAgoChangePercent           2.8     4.33333         1.2    0.818182

In [10]:
iex.get_chart('TWTR', chart_range='5y')

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,44.90,0.000000,0.000,44.90,2013-11-07,50.0900,"Nov 7, 13",44.0000,45.10,117647566,117647566,46.3628
1,-3.25,-0.072383,-7.238,41.65,2013-11-08,46.9400,"Nov 8, 13",40.6850,45.93,27900126,27900126,43.3981
2,1.25,-0.044543,3.001,42.90,2013-11-11,43.0000,"Nov 11, 13",39.4000,40.50,16109544,16109544,41.1453
3,-1.00,-0.066815,-2.331,41.90,2013-11-12,43.7800,"Nov 12, 13",41.8300,43.66,6316205,6316205,42.7686
4,0.70,-0.051225,1.671,42.60,2013-11-13,42.8700,"Nov 13, 13",40.7600,41.03,8675248,8675248,42.0151
5,2.09,-0.004677,4.906,44.69,2013-11-14,45.6700,"Nov 14, 13",42.2400,42.34,11092320,11092320,44.1873
6,-0.71,-0.020490,-1.589,43.98,2013-11-15,45.2700,"Nov 15, 13",43.4300,45.25,8010663,8010663,44.1189
7,-2.84,-0.083742,-6.457,41.14,2013-11-18,43.9500,"Nov 18, 13",40.8500,43.50,12810624,12810624,41.9875
8,0.61,-0.070156,1.483,41.75,2013-11-19,41.9000,"Nov 19, 13",40.0000,41.39,7436616,7436616,41.1050
9,-0.70,-0.085746,-1.677,41.05,2013-11-20,41.7500,"Nov 20, 13",40.5100,41.40,5767325,5767325,40.9702
10,1.01,-0.063252,2.460,42.06,2013-11-21,42.4900,"Nov 21, 13",40.3700,41.25,8324753,8324753,41.7968
11,-1.06,-0.086860,-2.520,41.00,2013-11-22,42.2800,"Nov 22, 13",40.9700,41.81,6185245,6185245,41.3638
12,-1.94,-0.130067,-4.732,39.06,2013-11-25,41.1400,"Nov 25, 13",38.8000,41.08,14333375,14333375,39.4278
13,1.12,-0.105122,2.867,40.18,2013-11-26,40.5500,"Nov 26, 13",38.9200,39.16,9828433,9828433,39.9121
14,0.72,-0.089087,1.792,40.90,2013-11-27,41.4000,"Nov 27, 13",40.3500,40.47,5536322,5536322,41.0217
15,0.67,-0.074165,1.638,41.57,2013-11-29,41.5800,"Nov 29, 13",40.9000,41.40,4107074,4107074,41.2781
16,-0.79,-0.091759,-1.900,40.78,2013-12-02,42.0000,"Dec 2, 13",40.4000,41.79,6427386,6427386,40.9749
17,0.59,-0.078619,1.447,41.37,2013-12-03,41.6000,"Dec 3, 13",40.5400,40.69,5776893,5776893,41.1482
18,2.32,-0.026949,5.608,43.69,2013-12-04,43.9200,"Dec 4, 13",41.2700,41.27,11028953,11028953,43.2580
19,1.93,0.016036,4.417,45.62,2013-12-05,46.3500,"Dec 5, 13",42.8300,43.45,11813520,11813520,45.0303
20,-0.67,0.001114,-1.469,44.95,2013-12-06,45.8000,"Dec 6, 13",44.5400,45.75,6236232,6236232,45.1049
21,4.19,0.094432,9.321,49.14,2013-12-09,49.8400,"Dec 9, 13",45.0200,45.59,17366614,17366614,48.2479
22,2.85,0.157906,5.800,51.99,2013-12-10,52.5800,"Dec 10, 13",48.7000,48.90,25792002,25792002,51.5532
23,0.35,0.165702,0.673,52.34,2013-12-11,53.8700,"Dec 11, 13",51.0000,52.40,26631535,26631535,52.4726
24,2.99,0.232294,5.713,55.33,2013-12-12,55.8700,"Dec 12, 13",50.6900,52.20,23446870,23446870,53.5250
25,3.67,0.314031,6.633,59.00,2013-12-13,59.4100,"Dec 13, 13",55.4500,56.20,38979567,38979567,57.3039
26,-2.39,0.260802,-4.051,56.61,2013-12-16,60.2400,"Dec 16, 13",55.7600,57.86,39310848,39310848,57.6369
27,-0.16,0.257238,-0.283,56.45,2013-12-17,57.3800,"Dec 17, 13",54.6200,56.97,22115199,22115199,55.9548
28,-0.94,0.236303,-1.665,55.51,2013-12-18,57.0000,"Dec 18, 13",54.2300,57.00,16659776,16659776,55.2363
29,1.98,0.280401,3.567,57.49,2013-12-19,57.7500,"Dec 19, 13",55.0000,55.08,13174896,13174896,56.5316
...,...,...,...,...,...,...,...,...,...,...,...,...
1129,0.37,-0.308686,1.206,31.04,2018-05-04,31.3600,"May 4, 18",29.8500,30.22,21035168,21035168,30.7904
1130,0.29,-0.302227,0.934,31.33,2018-05-07,31.8400,"May 7, 18",30.8800,31.06,18517536,18517536,31.4209
1131,0.52,-0.290646,1.660,31.85,2018-05-08,32.0899,"May 8, 18",31.0300,31.20,19581183,19581183,31.7188
1132,0.61,-0.277060,1.915,32.46,2018-05-09,32.7900,"May 9, 18",31.9400,32.07,20726455,20726455,32.4408
1133,0.41,-0.267929,1.263,32.87,2018-05-10,33.7800,"May 10, 18",32.5800,32.71,20723533,20723533,33.3113
1134,-0.12,-0.270601,-0.365,32.75,2018-05-11,33.1000,"May 11, 18",32.2501,32.94,14482552,14482552,32.7629
1135,0.64,-0.256347,1.954,33.39,2018-05-14,33.5800,"May 14, 18",32.9300,33.07,18007006,18007006,33.3328
1136,-0.64,-0.270601,-1.917,32.75,2018-05-15,33.1700,May 15,32.3600,33.17,15840804,15840804,32.7595
1137,0.02,-0.270156,0.061,32.77,2018-05-16,33.2166,May 16,32.6700,32.75,10868673,10868673,32.9021
1138,-0.19,-0.274388,-0.580,32.58,2018-05-17,33.0150,May 17,32.2810,32.78,10760174,10760174,32.6765
1139,0.05,-0.273274,0.153,32.63,2018-05-18,32.9700,May 18,32.2108,32.55,10618936,10618936,32.6364
1140,1.00,-0.251002,3.065,33.63,2018-05-21,34.0250,May 21,32.9000,33.02,21328447,21328447,33.5364
1141,-0.77,-0.268151,-2.290,32.86,2018-05-22,33.8100,May 22,32.8300,33.78,15003157,15003157,33.2171
1142,0.56,-0.255679,1.704,33.42,2018-05-23,33.4300,May 23,32.6000,32.70,13442658,13442658,33.1844
1143,0.10,-0.253452,0.299,33.52,2018-05-24,33.7550,May 24,33.1200,33.44,14491903,14491903,33.4879
1144,0.11,-0.251002,0.328,33.63,2018-05-25,33.9900,May 25,33.3100,33.54,10424410,10424410,33.6780
1145,0.41,-0.241871,1.219,34.04,2018-05-29,34.8300,May 29,33.3500,33.42,22086674,22086674,34.1686
1146,0.32,-0.234744,0.940,34.36,2018-05-30,34.6550,May 30,34.0800,34.20,14588186,14588186,34.3845
1147,0.34,-0.227171,0.990,34.70,2018-05-31,34.9700,May 31,34.2500,34.39,14433219,14433219,34.6806
1148,1.95,-0.183742,5.620,36.65,2018-06-01,36.6900,Jun 1,35.0900,35.14,29583088,29583088,36.0783
1149,1.23,-0.156347,3.356,37.88,2018-06-04,37.9800,Jun 4,35.9500,36.45,32632802,32632802,37.2734
1150,1.92,-0.113586,5.069,39.80,2018-06-05,40.1600,Jun 5,39.1900,39.53,66122177,66122177,39.7619
1151,0.30,-0.106904,0.754,40.10,2018-06-06,40.2300,Jun 6,39.2100,39.42,147805710,147805710,39.9885
1152,-0.40,-0.115813,-0.998,39.70,2018-06-07,40.1600,Jun 7,38.6400,40.14,41573447,41573447,39.3961
1153,1.51,-0.082183,3.804,41.21,2018-06-08,41.2600,Jun 8,39.4200,39.49,34538901,34538901,40.7580
1154,0.21,-0.077506,0.510,41.42,2018-06-11,41.6900,Jun 11,40.6600,41.42,24605266,24605266,41.2848
1155,2.07,-0.031403,4.998,43.49,2018-06-12,44.3300,Jun 12,42.4100,42.47,51154995,51154995,43.6719
1156,0.58,-0.018486,1.334,44.07,2018-06-13,44.5500,Jun 13,43.4199,44.24,35169170,35169170,43.9538
1157,2.69,0.041425,6.104,46.76,2018-06-14,46.8000,Jun 14,44.5000,44.55,50949063,50949063,45.9377
1158,-0.96,0.020045,-2.053,45.80,2018-06-15,47.7900,Jun 15,45.6400,46.62,51489582,51489582,46.6407

## Getting a Quote:

In [11]:
print(iex.get_delayed_quote('TWTR'))
iex.get_quote('TWTR')

{'symbol': 'TWTR', 'delayedPrice': 45.8, 'high': 47.79, 'low': 45.64, 'delayedSize': 2741472, 'delayedPriceTime': 1529092947557, 'processedTime': 1529093849536}

{'symbol': 'TWTR',
 'companyName': 'Twitter Inc.',
 'primaryExchange': 'New York Stock Exchange',
 'sector': 'Technology',
 'calculationPrice': 'close',
 'open': 46.58,
 'openTime': 1529069407673,
 'close': 45.8,
 'closeTime': 1529092947557,
 'high': 47.79,
 'low': 45.64,
 'latestPrice': 45.8,
 'latestSource': 'Close',
 'latestTime': 'June 15, 2018',
 'latestUpdate': 1529092947557,
 'latestVolume': 51357527,
 'iexRealtimePrice': 45.795,
 'iexRealtimeSize': 200,
 'iexLastUpdated': 1529092798513,
 'delayedPrice': 45.8,
 'delayedPriceTime': 1529092947557,
 'extendedPrice': 45.92,
 'extendedChange': 0.12,
 'extendedChangePercent': 0.00262,
 'extendedPriceTime': 1529096395647,
 'previousClose': 46.76,
 'change': -0.96,
 'changePercent': -0.02053,
 'iexMarketPercent': 0.01189,
 'iexVolume': 610641,
 'avgTotalVolume': 28016748,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'marketCap': 34472126524,
 'peRatio': 241.05,
 'week52High': 46.8,
 'week52Low': 15.67,
 'ytdChange': 0.8872627376580985}

In [12]:
iex.get_effective_spread('TWTR')

,effectiveQuoted,effectiveSpread,priceImprovement,venue,venueName,volume
0,0.787440,0.023527,0.006763,XCHI,CHX,1035
1,0.985672,0.009880,0.000126,XCIS,NYSE National,168898
2,0.972152,0.009802,0.000199,EDGA,Cboe EDGA,5845358
3,0.953164,0.009741,0.000350,ARCX,NYSE Arca,30534074
4,0.956926,0.009674,0.000256,XBOS,Nasdaq BX,8128842
5,0.949497,0.009579,0.000442,EDGX,Cboe EDGX,34727557
6,0.943148,0.009520,0.000508,XPHL,Nasdaq PSX,2534587
7,0.935604,0.009465,0.000350,BATY,Cboe BYX,11892426
8,0.900004,0.009103,0.000705,XNGS,Nasdaq,41039305
9,0.891134,0.009058,0.000686,XNYS,NYSE,77515480
10,0.886351,0.008985,0.000801,BATS,Cboe BZX,19863351
11,0.879367,0.008894,0.000709,XASE,NYSE American,1265123
12,0.393493,0.004013,0.003130,IEXG,IEX,9507608

## Stats:

In [13]:
iex.get_stats('TWTR').T

                                0
EBITDA                  335850000
EPSSurpriseDollar            None
EPSSurprisePercent            800
beta                      1.02367
cash                  12741110000
companyName          Twitter Inc.
consensusEPS                 0.01
day200MovingAvg           26.2743
day30ChangePercent       0.475515
day50MovingAvg             33.684
day5ChangePercent        0.105746
debt                   5312247000
dividendRate                    0
dividendYield                   0
exDividendDate                  0
float                   738328740
grossProfit            1254145000
insiderPercent               None
institutionPercent           56.9
latestEPS                       0
latestEPSDate          2017-12-31
marketcap             34472126524
month1ChangePercent      0.398473
month3ChangePercent       0.27933
month6ChangePercent       1.06028
numberOfEstimates               9
peRatioHigh                     0
peRatioLow                      0
priceToBook                  None
priceToSales              13.7484
profitMargin                 0.42
returnOnAssets               0.19
returnOnCapital              None
returnOnEquity               0.27
revenue                1895048000
revenuePerEmployee         561995
revenuePerShare                 3
sharesOutstanding       752666518
shortDate              2018-05-31
shortInterest            40604552
shortRatio                2.44146
symbol                       TWTR
ttmEPS                       0.19
week52change              172.133
week52high                  47.79
week52low                   15.67
year1ChangePercent        1.72133
year2ChangePercent        1.86967
year5ChangePercent      0.0200445
ytdChangePercent         0.868625