# Google (GOOG):

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import quandl

import iex as IEX

from iexfinance import Stock
from iexfinance import get_historical_data
from iexfinance import get_stats_intraday

from datetime import datetime

quandl.ApiConfig.api_key = "9tQnPMV9zakeCm4K6S5X"

In [4]:
! ls data

EOD-datasets-codes.csv facebook_quandle.csv   jpm_quandle.csv
apple_quandle.csv      google_quandle.csv     microsoft_quandle.csv
blackrock_quandle.csv  gs_quandle.csv         moodys_quandle.csv
dow_quandle.csv        ibm_quandle.csv        twitter_quandle.csv

## Importing Stock History - Google:

- **From Quadle**

In [5]:
df = pd.read_csv('data/google_quandle.csv')
df.head()

,Date,WIKI/GOOGL - Open,WIKI/GOOGL - High,WIKI/GOOGL - Low,WIKI/GOOGL - Close,WIKI/GOOGL - Volume,WIKI/GOOGL - Ex-Dividend,WIKI/GOOGL - Split Ratio,WIKI/GOOGL - Adj. Open,WIKI/GOOGL - Adj. High,WIKI/GOOGL - Adj. Low,WIKI/GOOGL - Adj. Close,WIKI/GOOGL - Adj. Volume
0,2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
1,2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2,2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
3,2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
4,2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

-------

## Querying IEX for Google's Stock:

In [6]:
google = Stock('GOOGL')

In [7]:
print('Current Price:', google.get_price())
print('06/15/2018 Opening Price:', google.get_open())
print('06/15/2018 Closing Price:', google.get_close())

Current Price: 1159.27
06/15/2018 Opening Price: 1159.92
06/15/2018 Closing Price: 1159.27

## Historical Data from IEX:

In [8]:
start = datetime(2013, 1, 1) ## 5 year limit:
end = datetime(2018, 6, 15) ## Today's Date

google_df = get_historical_data("GOOGL", start=start, end=end, output_format='pandas')
google_df.head(10)

                open      high       low     close   volume
date
2013-06-17  440.0546  445.1597  439.5791  443.5681  4287768
2013-06-18  444.7693  450.9505  444.6192  450.7603  4329191
2013-06-19  451.1357  455.8754  449.1988  450.7903  5825958
2013-06-20  447.4420  450.9505  442.0967  442.8124  6737253
2013-06-21  444.6142  445.3849  436.9715  440.9055  7956472
2013-06-24  436.3759  438.5982  432.0566  435.3299  6027497
2013-06-25  439.0686  440.2798  432.6873  433.5331  5101271
2013-06-26  437.3119  439.4390  435.7203  437.2618  3658997
2013-06-27  439.8394  442.7873  438.7633  438.9735  3849059
2013-06-28  437.8875  441.3609  437.5326  440.6252  4693361

## Financial Statement:

In [9]:
iex = IEX.Stock()
financials = iex.get_financials('GOOGL')
financials.T

                                   0             1             2             3
cashChange                1778000000     116000000   -5238000000   -2509000000
cashFlow                 11642000000   10268000000    9872000000    7403000000
costOfRevenue            13467000000   14267000000   11148000000   10373000000
currentAssets           123761000000  124308000000  119345000000  112386000000
currentCash              12658000000   10715000000   10581000000   15711000000
currentDebt                1.329e+09           NaN           NaN           NaN
grossProfit              17679000000   18056000000   16624000000   15637000000
netIncome                 9401000000   -3020000000    6732000000    3524000000
operatingExpense         10678000000   10392000000    8842000000    8769000000
operatingGainsLosses     -2992000000      34000000      76000000      65000000
operatingIncome           7001000000    7664000000    7782000000    6868000000
operatingRevenue         30996000000   27227000000   24065000000   22672000000
reportDate                2018-03-31    2017-12-31    2017-09-30    2017-06-30
researchAndDevelopment    5039000000    4306000000    4205000000    4172000000
shareholderEquity       160825000000  152502000000  157100000000  148286000000
totalAssets             206935000000  197295000000  189536000000  178621000000
totalCash               102885000000  101871000000  100143000000   94713000000
totalDebt                  5.302e+09           NaN           NaN           NaN
totalLiabilities                None          None          None          None
totalRevenue             31146000000   32323000000   27772000000   26010000000

## Earnings:

https://www.wallstreetmojo.com/revenue-vs-earnings/

In [10]:
earnings = iex.get_earnings('GOOGL')
earnings.T

                                 0           1           2           3
EPSReportDate           2018-04-23  2018-02-01  2017-10-26  2017-07-24
EPSSurpriseDollar             0.72       -0.42        1.14        0.62
actualEPS                     9.93         9.7        9.57        5.01
announceTime                   AMC         AMC         AMC         AMC
consensusEPS                  9.21       10.12        8.43        4.39
estimatedChangePercent    0.191462    0.338624    0.162759   -0.372857
estimatedEPS                  9.21       10.12        8.43        4.39
fiscalEndDate           2018-03-31  2017-12-31  2017-09-30  2017-06-30
fiscalPeriod               Q1 2018     Q4 2017     Q3 2017     Q2 2017
numberOfEstimates               13          14          17          11
symbolId                     10657       10657       10657       10657
yearAgo                       7.73        7.56        7.25           7
yearAgoChangePercent      0.284605    0.283069        0.32   -0.284286

In [11]:
iex.get_chart('GOOGL', chart_range='5y')

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,5.610600,0.000000,1.281,443.5681,2013-06-17,445.1597,"Jun 17, 13",439.5791,440.0546,2146028,4287768,442.8815
1,7.192200,0.016214,1.621,450.7603,2013-06-18,450.9505,"Jun 18, 13",444.6192,444.7693,2166760,4329191,448.8056
2,0.030030,0.016282,0.007,450.7903,2013-06-19,455.8754,"Jun 19, 13",449.1988,451.1357,2915892,5825958,452.0641
3,-7.978000,-0.001704,-1.770,442.8124,2013-06-20,450.9505,"Jun 20, 13",442.0967,447.4420,3371995,6737253,446.0366
4,-1.906900,-0.006003,-0.431,440.9055,2013-06-21,445.3849,"Jun 21, 13",436.9715,444.6142,3982214,7956472,441.3475
5,-5.575600,-0.018573,-1.265,435.3299,2013-06-24,438.5982,"Jun 24, 13",432.0566,436.3759,3016762,6027497,434.9584
6,-1.796800,-0.022623,-0.413,433.5331,2013-06-25,440.2798,"Jun 25, 13",432.6873,439.0686,2553186,5101271,435.1633
7,3.728700,-0.014217,0.860,437.2618,2013-06-26,439.4390,"Jun 26, 13",435.7203,437.3119,1831328,3658997,437.4318
8,1.711700,-0.010358,0.391,438.9735,2013-06-27,442.7873,"Jun 27, 13",438.7633,439.8394,1926454,3849059,440.6823
9,1.651600,-0.006635,0.376,440.6252,2013-06-28,441.3609,"Jun 28, 13",437.5326,437.8875,2349027,4693361,440.0453
10,3.758800,0.001839,0.853,444.3839,2013-07-01,446.4860,"Jul 1, 13",442.9425,443.6682,1723252,3443061,445.3865
11,-2.787800,-0.004446,-0.627,441.5962,2013-07-02,445.9455,"Jul 2, 13",439.0736,445.5451,1891448,3779117,442.6109
12,2.062100,0.000203,0.467,443.6582,2013-07-03,445.0296,"Jul 3, 13",439.6893,440.4500,1048628,2095161,443.1463
13,3.533500,0.008169,0.796,447.1917,2013-07-05,448.1527,"Jul 5, 13",444.1137,445.4500,1701830,3400260,446.6701
14,5.805800,0.021258,1.298,452.9975,2013-07-08,453.5881,"Jul 8, 13",448.9905,450.0546,1969450,3934965,452.2466
15,0.075075,0.021427,0.017,453.0726,2013-07-09,456.9315,"Jul 9, 13",449.4390,455.9555,1963608,3923293,452.7098
16,0.375375,0.022274,0.083,453.4480,2013-07-10,456.0231,"Jul 10, 13",450.6402,452.1767,1707341,3411271,453.1822
17,7.132100,0.038353,1.573,460.5801,2013-07-11,460.8654,"Jul 11, 13",454.7143,456.9565,2583821,5162480,458.3885
18,1.381400,0.041467,0.300,461.9615,2013-07-12,461.9615,"Jul 12, 13",458.0776,460.4600,2568107,5131083,460.2577
19,0.845845,0.043374,0.183,462.8073,2013-07-15,464.4640,"Jul 15, 13",458.6382,462.6121,1960316,3916715,461.7224
20,-2.543500,0.037640,-0.550,460.2638,2013-07-16,464.4490,"Jul 16, 13",457.4069,464.0286,1982952,3961942,459.9548
21,-0.529529,0.036446,-0.115,459.7343,2013-07-17,463.8934,"Jul 17, 13",458.6082,460.9605,1505868,3008727,460.9667
22,-3.938900,0.027566,-0.857,455.7953,2013-07-18,460.4600,"Jul 18, 13",452.0466,459.9545,3609402,7211592,450.0287
23,-7.048000,0.011676,-1.546,448.7473,2013-07-19,451.9265,"Jul 19, 13",438.2428,443.7483,7359137,14703570,445.5751
24,7.058100,0.027588,1.573,455.8053,2013-07-22,456.7913,"Jul 22, 13",448.9485,451.4510,2903200,5800599,453.9464
25,-3.453400,0.019803,-0.758,452.3519,2013-07-23,456.9565,"Jul 23, 13",450.2348,455.8053,2045327,4086567,453.4161
26,-0.450450,0.018787,-0.100,451.9015,2013-07-24,455.6051,"Jul 24, 13",450.8003,454.0836,2077778,4151405,452.9321
27,-7.607600,0.001636,-1.683,444.2939,2013-07-25,448.8734,"Jul 25, 13",443.4830,447.3819,3000933,5995870,445.9766
28,-1.176200,-0.001015,-0.265,443.1177,2013-07-26,445.4400,"Jul 26, 13",441.4410,443.9385,1777671,3551790,443.6055
29,-1.541500,-0.004491,-0.348,441.5761,2013-07-29,447.8574,"Jul 29, 13",440.8854,442.8924,1892042,3780304,443.7978
...,...,...,...,...,...,...,...,...,...,...,...,...
1230,24.700000,1.369422,2.407,1051.0000,2018-05-04,1051.8800,"May 4, 18",1018.0500,1019.6100,1844600,1844600,1042.5800
1231,8.460000,1.388495,0.805,1059.4600,2018-05-07,1065.0000,"May 7, 18",1050.2700,1053.8900,1719971,1719971,1060.0300
1232,-0.870000,1.386533,-0.082,1058.5900,2018-05-08,1065.2300,"May 8, 18",1051.6400,1064.6200,1301524,1301524,1058.1900
1233,30.360000,1.454978,2.868,1088.9500,2018-05-09,1094.0000,"May 9, 18",1062.1100,1064.1000,2357979,2357979,1082.4700
1234,16.520000,1.492222,1.517,1105.4700,2018-05-10,1109.4100,"May 10, 18",1093.8800,1095.0000,1820676,1820676,1103.0300
1235,-2.090000,1.487510,-0.189,1103.3800,2018-05-11,1109.0100,"May 11, 18",1097.2200,1100.4100,1525218,1525218,1103.1300
1236,3.220000,1.494769,0.292,1106.6000,2018-05-14,1118.1500,"May 14, 18",1104.8000,1105.5700,1966893,1966893,1111.0600
1237,-21.730000,1.445780,-1.964,1084.8700,2018-05-15,1099.1200,May 15,1078.7800,1096.9000,1786926,1786926,1087.1500
1238,-0.780000,1.444022,-0.072,1084.0900,2018-05-16,1094.3800,May 16,1081.6300,1085.0900,1281406,1281406,1087.4200
1239,-2.830000,1.437641,-0.261,1081.2600,2018-05-17,1091.0000,May 17,1076.4200,1081.4600,1286907,1286907,1083.2500
1240,-11.620000,1.411445,-1.075,1069.6400,2018-05-18,1073.7300,May 18,1064.6800,1066.0000,1774149,1774149,1069.5400
1241,14.370000,1.443841,1.343,1084.0100,2018-05-21,1093.3000,May 21,1078.0000,1079.0000,1258999,1258999,1085.7800
1242,-8.700000,1.424228,-0.803,1075.3100,2018-05-22,1091.8000,May 22,1072.2600,1089.8000,1111299,1111299,1080.4300
1243,10.650000,1.448237,0.990,1085.9600,2018-05-23,1088.0000,May 23,1066.9600,1070.0000,1186998,1186998,1078.2900
1244,-0.510000,1.447088,-0.047,1085.4500,2018-05-24,1087.1200,May 24,1072.3000,1086.9000,1030194,1030194,1082.7300
1245,-1.370000,1.443999,-0.126,1084.0800,2018-05-25,1089.5700,May 25,1082.6000,1086.5500,1111161,1111161,1085.7000
1246,-16.010000,1.407905,-1.477,1068.0700,2018-05-29,1081.3400,May 29,1063.0800,1076.0000,1803805,1803805,1069.8500
1247,9.400000,1.429097,0.880,1077.4700,2018-05-30,1078.9900,May 30,1066.5500,1073.4800,1434282,1434282,1075.0700
1248,22.530000,1.479890,2.091,1100.0000,2018-05-31,1110.0000,May 31,1078.0000,1082.0000,3968362,3968362,1100.6400
1249,35.000000,1.558795,3.182,1135.0000,2018-06-01,1138.1600,Jun 1,1112.0100,1112.8700,3160100,3160100,1128.5400
1250,18.040000,1.599466,1.589,1153.0400,2018-06-04,1157.8600,Jun 4,1137.0000,1138.5000,2237701,2237701,1151.1300
1251,-2.020000,1.594912,-0.175,1151.0200,2018-06-05,1161.1000,Jun 5,1147.4600,1154.6600,1648222,1648222,1152.9500
1252,-4.070000,1.585736,-0.354,1146.9500,2018-06-06,1154.7100,Jun 6,1136.3200,1152.7700,1746719,1746719,1145.3300
1253,-12.530000,1.557488,-1.092,1134.4200,2018-06-07,1145.8700,Jun 7,1126.1200,1144.5800,1805388,1805388,1133.9100
1254,-1.710000,1.553633,-0.151,1132.7100,2018-06-08,1138.7800,Jun 8,1123.2300,1131.2100,1364226,1364226,1131.9300
1255,8.190000,1.572097,0.723,1140.9000,2018-06-11,1147.7400,Jun 11,1131.4000,1132.9400,1239770,1239770,1140.9400
1256,7.290000,1.588532,0.639,1148.1900,2018-06-12,1148.7500,Jun 12,1141.0200,1141.0200,1304612,1304612,1145.8000
1257,-3.960000,1.579604,-0.345,1144.2300,2018-06-13,1155.6400,Jun 13,1143.3800,1152.2800,1715074,1715074,1149.3000
1258,15.880000,1.615404,1.388,1160.1100,2018-06-14,1165.9900,Jun 14,1150.6000,1152.2100,1771120,1771120,1159.1400
1259,-0.840000,1.613511,-0.072,1159.2700,2018-06-15,1163.9100,Jun 15,1153.6900,1159.9200,2221891,2221891,1158.8800

## Getting a Quote:

In [14]:
print(iex.get_delayed_quote('GOOGL'))
iex.get_quote('GOOGL')

{'symbol': 'GOOGL', 'delayedPrice': 1159.27, 'high': 1163.909, 'low': 1153.69, 'delayedSize': 356727, 'delayedPriceTime': 1529092800490, 'processedTime': 1529093701006}

{'symbol': 'GOOGL',
 'companyName': 'Alphabet Inc.',
 'primaryExchange': 'Nasdaq Global Select',
 'sector': 'Technology',
 'calculationPrice': 'close',
 'open': 1159.92,
 'openTime': 1529069400741,
 'close': 1159.27,
 'closeTime': 1529092800490,
 'high': 1163.909,
 'low': 1153.69,
 'latestPrice': 1159.27,
 'latestSource': 'Close',
 'latestTime': 'June 15, 2018',
 'latestUpdate': 1529092800490,
 'latestVolume': 2162151,
 'iexRealtimePrice': 1159.25,
 'iexRealtimeSize': 100,
 'iexLastUpdated': 1529092799901,
 'delayedPrice': 1159.27,
 'delayedPriceTime': 1529092800490,
 'extendedPrice': 1159.3,
 'extendedChange': 0.03,
 'extendedChangePercent': 3e-05,
 'extendedPriceTime': 1529096370987,
 'previousClose': 1160.11,
 'change': -0.84,
 'changePercent': -0.00072,
 'iexMarketPercent': 0.02185,
 'iexVolume': 47243,
 'avgTotalVolume': 1717417,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'marketCap': 805169544483,
 'peRatio': 33.89,
 'week52High': 1198,
 'week52Low': 915.31,
 'ytdChange': 0.08025203715954926}

In [15]:
iex.get_effective_spread('GOOGL')

,effectiveQuoted,effectiveSpread,priceImprovement,venue,venueName,volume
0,0.839796,0.475473,0.052364,XCHI,CHX,36654
1,0.725551,0.354695,0.084232,XPHL,Nasdaq PSX,423955
2,0.880346,0.316727,0.033251,XASE,NYSE American,64715
3,0.753807,0.304354,0.075636,XNYS,NYSE,123166
4,0.645739,0.304035,0.098014,BATY,Cboe BYX,752568
5,0.681487,0.299712,0.092928,XNGS,Nasdaq,8228998
6,0.699947,0.297866,0.092912,XBOS,Nasdaq BX,746780
7,0.969739,0.294594,0.010330,XCIS,NYSE National,4330
8,0.627604,0.290454,0.108699,BATS,Cboe BZX,2309731
9,0.712717,0.282923,0.081141,ARCX,NYSE Arca,1856462
10,0.618326,0.278203,0.105503,EDGA,Cboe EDGA,329973
11,0.669492,0.275934,0.097082,EDGX,Cboe EDGX,2522837
12,0.461428,0.211759,0.147064,IEXG,IEX,1043850

## Stats:

In [16]:
iex.get_stats('GOOGL').T

                                 0
EBITDA                 25870000000
EPSSurpriseDollar             None
EPSSurprisePercent          7.8176
beta                       1.08347
cash                  296727000000
companyName          Alphabet Inc.
consensusEPS                  9.21
day200MovingAvg            1057.38
day30ChangePercent        0.103016
day50MovingAvg             1079.96
day5ChangePercent        0.0161013
debt                             0
dividendRate                     0
dividendYield                    0
exDividendDate                   0
float                    673923008
grossProfit            50317000000
insiderPercent                None
institutionPercent            29.7
latestEPS                        0
latestEPSDate           2017-12-31
marketcap             805169544483
month1ChangePercent      0.0685796
month3ChangePercent     0.00752644
month6ChangePercent      0.0814086
numberOfEstimates               13
peRatioHigh                      0
peRatioLow                       0
priceToBook                   None
priceToSales               7.34861
profitMargin                 14.81
returnOnAssets                8.18
returnOnCapital               None
returnOnEquity               10.13
revenue                86105000000
revenuePerEmployee         1012404
revenuePerShare                124
sharesOutstanding        694548763
shortDate               2018-05-31
shortInterest              3159592
shortRatio                 1.88123
symbol                       GOOGL
ttmEPS                       34.21
week52change               20.7347
week52high                    1198
week52low                   915.31
year1ChangePercent        0.207347
year2ChangePercent        0.583291
year5ChangePercent         1.61351
ytdChangePercent         0.0801893