# Moody's (MCO)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import quandl

import iex as IEX

from iexfinance import Stock
from iexfinance import get_historical_data
from iexfinance import get_stats_intraday

from datetime import datetime

quandl.ApiConfig.api_key = "9tQnPMV9zakeCm4K6S5X"

In [2]:
! ls data

EOD-datasets-codes.csv facebook_quandle.csv   jpm_quandle.csv
apple_quandle.csv      google_quandle.csv     microsoft_quandle.csv
blackrock_quandle.csv  gs_quandle.csv         moodys_quandle.csv
dow_quandle.csv        ibm_quandle.csv        twitter_quandle.csv

## Importing Stock History - Moody's:

- **From Quadle**

In [3]:
df = pd.read_csv('data/moodys_quandle.csv')
df.head()

,Date,WIKI/MCO - Open,WIKI/MCO - High,WIKI/MCO - Low,WIKI/MCO - Close,WIKI/MCO - Volume,WIKI/MCO - Ex-Dividend,WIKI/MCO - Split Ratio,WIKI/MCO - Adj. Open,WIKI/MCO - Adj. High,WIKI/MCO - Adj. Low,WIKI/MCO - Adj. Close,WIKI/MCO - Adj. Volume
0,1994-10-31,16.38,16.62,16.38,16.62,992100.0,0.0,1.0,1.033628,1.048773,1.033628,1.048773,1984200.0
1,1994-11-01,16.62,16.62,16.38,16.50,1088200.0,0.0,1.0,1.048773,1.048773,1.033628,1.041201,2176400.0
2,1994-11-02,16.50,16.50,16.38,16.38,1174100.0,0.0,1.0,1.041201,1.041201,1.033628,1.033628,2348200.0
3,1994-11-03,16.38,16.50,16.25,16.38,1030400.0,0.0,1.0,1.033628,1.041201,1.025425,1.033628,2060800.0
4,1994-11-04,16.38,16.50,16.25,16.25,1331900.0,0.0,1.0,1.033628,1.041201,1.025425,1.025425,2663800.0

-------

## Querying IEX for Moody's Stock:

In [4]:
moodys = Stock('MCO')

In [5]:
print('Current Price:', moodys.get_price())
print('06/15/2018 Opening Price:', moodys.get_open())
print('06/15/2018 Closing Price:', moodys.get_close())

Current Price: 176.8
06/15/2018 Opening Price: 175.58
06/15/2018 Closing Price: 176.8

## Historical Data from IEX:

In [6]:
start = datetime(2013, 1, 1) ## 5 year limit:
end = datetime(2018, 6, 15) ## Today's Date

black_df = get_historical_data("MCO", start=start, end=end, output_format='pandas')
black_df.head(10)

               open     high      low    close   volume
date
2013-06-17  58.7874  58.8904  58.0201  58.1979  1473297
2013-06-18  58.3195  58.7874  58.0294  58.5909   978613
2013-06-19  58.5067  58.7650  57.0562  57.0936  1349372
2013-06-20  56.4854  56.9345  54.8945  55.0255  1990528
2013-06-21  55.4560  55.6712  54.2394  55.1004  1747954
2013-06-24  54.3517  54.4734  53.1071  53.9400  1409493
2013-06-25  54.7728  55.6806  54.3798  54.6793  1233255
2013-06-26  55.1565  55.4934  54.8009  55.0442  1090799
2013-06-27  55.4934  57.0936  55.0442  56.9252  1672131
2013-06-28  56.7942  57.5241  56.6819  57.0188  2563706

## Financial Statement:

In [7]:
iex = IEX.Stock()
financials = iex.get_financials('MCO')
financials.T

                                 0           1            2           3
cashChange               190700000   102700000  -2337800000  1109900000
cashFlow                 391500000   404800000    390400000   464700000
costOfRevenue            314900000   342400000    317200000   285800000
currentAssets           2818800000  2580600000   2278900000  4559100000
currentCash             1277300000  1071500000    962800000  3280900000
currentDebt              3.896e+08   4.294e+08    6.141e+08         NaN
grossProfit              811800000   823100000    745700000   714700000
netIncome                372900000    25500000    317300000   312200000
operatingExpense         322600000   354500000    290200000   250600000
operatingGainsLosses     -1.45e+07    -9.9e+07          NaN     3.2e+06
operatingIncome          489200000   468600000    455500000   464100000
operatingRevenue        1126700000  1165500000   1062900000  1000500000
reportDate              2018-03-31  2017-12-31   2017-09-30  2017-06-30
researchAndDevelopment        None        None         None        None
shareholderEquity        199700000  -327700000   -369100000  -679800000
totalAssets             9014000000  8594200000   8304900000  6536300000
totalCash               1377800000  1183300000   1071100000  3367200000
totalDebt               5.5076e+09  5.5405e+09   5.7214e+09         NaN
totalLiabilities              None        None         None        None
totalRevenue            1126700000  1165500000   1062900000  1000500000

## Earnings:

https://www.wallstreetmojo.com/revenue-vs-earnings/

In [8]:
earnings = iex.get_earnings('MCO')
earnings.T

                                 0           1           2           3
EPSReportDate           2018-04-27  2018-02-09  2017-11-03  2017-07-21
EPSSurpriseDollar             0.24        0.06        0.12        0.18
actualEPS                     2.02        1.51        1.52        1.51
announceTime                   BTO         BTO         BTO         BTO
consensusEPS                  1.78        1.45         1.4        1.33
estimatedChangePercent    0.210884    0.178862   0.0447761   0.0230769
estimatedEPS                  1.78        1.45         1.4        1.33
fiscalEndDate           2018-03-31  2017-12-31  2017-09-30  2017-06-30
fiscalPeriod               Q1 2018     Q4 2017     Q3 2017     Q2 2017
numberOfEstimates                6           6           4           5
symbolId                      4273        4273        4273        4273
yearAgo                       1.47        1.23        1.34         1.3
yearAgoChangePercent       0.37415    0.227642    0.134328    0.161538

In [9]:
iex.get_chart('MCO', chart_range='5y')

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,-0.009356,0.000000,-0.016,58.1979,2013-06-17,58.8904,"Jun 17, 13",58.0201,58.7874,1473297,1473297,58.3791
1,0.393037,0.006753,0.675,58.5909,2013-06-18,58.7874,"Jun 18, 13",58.0294,58.3195,978613,978613,58.5163
2,-1.497300,-0.018975,-2.555,57.0936,2013-06-19,58.7650,"Jun 19, 13",57.0562,58.5067,1349372,1349372,57.9117
3,-2.068100,-0.054511,-3.622,55.0255,2013-06-20,56.9345,"Jun 20, 13",54.8945,56.4854,1990528,1990528,55.6765
4,0.074863,-0.053224,0.136,55.1004,2013-06-21,55.6712,"Jun 21, 13",54.2394,55.4560,1747954,1747954,55.0840
5,-1.160400,-0.073162,-2.106,53.9400,2013-06-24,54.4734,"Jun 24, 13",53.1071,54.3517,1409493,1409493,53.9237
6,0.739288,-0.060459,1.371,54.6793,2013-06-25,55.6806,"Jun 25, 13",54.3798,54.7728,1233255,1233255,54.7724
7,0.364967,-0.054189,0.667,55.0442,2013-06-26,55.4934,"Jun 26, 13",54.8009,55.1565,1090799,1090799,55.1140
8,1.881000,-0.021868,3.417,56.9252,2013-06-27,57.0936,"Jun 27, 13",55.0442,55.4934,1672131,1672131,56.6512
9,0.093586,-0.020260,0.164,57.0188,2013-06-28,57.5241,"Jun 28, 13",56.6819,56.7942,2563706,2563706,57.1515
10,0.346246,-0.014312,0.607,57.3650,2013-07-01,58.6284,"Jul 1, 13",57.2434,57.2434,2147199,2147199,57.9870
11,-0.795434,-0.027979,-1.387,56.5696,2013-07-02,57.9546,"Jul 2, 13",56.4199,57.1030,1058547,1058547,57.0120
12,-0.383683,-0.034572,-0.678,56.1859,2013-07-03,56.6351,"Jul 3, 13",55.8584,56.2608,656828,656828,56.1714
13,0.655067,-0.023315,1.166,56.8410,2013-07-05,56.8971,"Jul 5, 13",56.0081,56.6070,942456,942456,56.4748
14,0.486618,-0.014954,0.856,57.3276,2013-07-08,58.1605,"Jul 8, 13",57.1404,57.1591,1224639,1224639,57.6121
15,0.374324,-0.008523,0.653,57.7019,2013-07-09,58.1885,"Jul 9, 13",57.4773,57.9827,1681471,1681471,57.7653
16,-1.525400,-0.034733,-2.644,56.1765,2013-07-10,57.9546,"Jul 10, 13",55.8958,57.5990,2095353,2095353,56.6189
17,1.225900,-0.013667,2.182,57.4025,2013-07-11,58.2540,"Jul 11, 13",57.0094,57.3182,2107550,2107550,57.5179
18,-0.280742,-0.018492,-0.489,57.1217,2013-07-12,57.7206,"Jul 12, 13",56.8878,57.5803,1456811,1456811,57.2502
19,-0.224593,-0.022351,-0.393,56.8971,2013-07-15,57.2714,"Jul 15, 13",56.5134,57.1779,1471938,1471938,56.8776
20,-0.439829,-0.029908,-0.773,56.4573,2013-07-16,57.1217,"Jul 16, 13",56.0221,56.8971,1070266,1070266,56.4257
21,0.290101,-0.024924,0.514,56.7474,2013-07-17,57.5615,"Jul 17, 13",56.3637,56.8222,1502089,1502089,57.0447
22,1.038700,-0.007076,1.830,57.7861,2013-07-18,57.8984,"Jul 18, 13",56.9065,56.9720,985151,985151,57.6089
23,0.009359,-0.006914,0.016,57.7955,2013-07-19,57.8610,"Jul 19, 13",57.2340,57.7861,767570,767570,57.6114
24,0.121653,-0.004825,0.210,57.9171,2013-07-22,58.1885,"Jul 22, 13",57.5148,57.6926,768294,768294,57.9601
25,0.393044,0.001930,0.679,58.3102,2013-07-23,59.1805,"Jul 23, 13",57.8704,57.9546,1544454,1544454,58.3040
26,2.217900,0.040038,3.804,60.5280,2013-07-24,62.7459,"Jul 24, 13",59.8449,59.9104,3195583,3195583,60.9653
27,-0.112296,0.038110,-0.186,60.4158,2013-07-25,60.6965,"Jul 25, 13",59.6858,60.2380,1510056,1510056,60.3035
28,-0.177800,0.035055,-0.294,60.2380,2013-07-26,60.2847,"Jul 26, 13",59.5267,60.0976,1559084,1559084,60.0993
29,0.327528,0.040682,0.544,60.5655,2013-07-29,60.7059,"Jul 29, 13",59.9478,59.9478,772569,772569,60.4727
...,...,...,...,...,...,...,...,...,...,...,...,...
1230,3.181800,1.850333,1.956,165.8834,2018-05-04,166.9706,"May 4, 18",160.8763,161.9136,621062,621062,165.3355
1231,1.077200,1.868842,0.649,166.9606,2018-05-07,167.6888,"May 7, 18",165.6341,166.1926,450015,450015,166.8890
1232,0.498717,1.877413,0.299,167.4594,2018-05-08,167.7287,"May 8, 18",165.7238,166.4619,579161,579161,167.1729
1233,2.653200,1.923001,1.584,170.1125,2018-05-09,170.6212,"May 9, 18",166.7512,167.7586,585015,585015,169.3227
1234,3.221700,1.978360,1.894,173.3343,2018-05-10,173.6834,"May 10, 18",169.9230,170.2821,752603,752603,172.8050
1235,0.269308,1.982987,0.155,173.6036,2018-05-11,174.3018,"May 11, 18",172.4166,173.2046,871868,871868,173.3172
1236,-2.044700,1.947852,-1.178,171.5588,2018-05-14,174.3516,"May 14, 18",170.6013,174.1522,617847,617847,172.1709
1237,-1.107200,1.928829,-0.645,170.4517,2018-05-15,171.1698,May 15,169.4143,170.7708,540504,540504,170.2056
1238,1.346500,1.951966,0.790,171.7982,2018-05-16,172.6261,May 16,170.2921,170.7309,741990,741990,171.7009
1239,-0.698204,1.939969,-0.406,171.1000,2018-05-17,172.2171,May 17,170.1275,171.7084,463694,463694,171.1912
1240,1.420000,1.964368,0.830,172.5200,2018-05-18,172.8700,May 18,171.0700,171.3000,694023,694023,172.2502
1241,2.570000,2.008528,1.490,175.0900,2018-05-21,175.5800,May 21,173.3500,173.3600,1059229,1059229,174.9181
1242,-0.730000,1.995984,-0.417,174.3600,2018-05-22,175.6000,May 22,173.6300,175.2100,773404,773404,174.5892
1243,-0.310000,1.990658,-0.178,174.0500,2018-05-23,174.0700,May 23,171.9800,173.1200,824351,824351,173.1984
1244,-0.100000,1.988939,-0.057,173.9500,2018-05-24,174.4100,May 24,171.4400,173.8500,705633,705633,173.4606
1245,0.080000,1.990314,0.046,174.0300,2018-05-25,174.3050,May 25,172.5450,173.4600,531273,531273,173.8037
1246,-3.220000,1.934986,-1.850,170.8100,2018-05-29,173.3100,May 29,169.0400,172.4800,898095,898095,170.5826
1247,2.610000,1.979833,1.528,173.4200,2018-05-30,173.6400,May 30,170.8800,172.0500,740007,740007,172.9782
1248,-2.850000,1.930862,-1.643,170.5700,2018-05-31,173.7150,May 31,170.4900,173.4200,1027717,1027717,171.2114
1249,2.390000,1.971929,1.401,172.9600,2018-06-01,173.7100,Jun 1,172.0200,172.4400,588677,588677,172.8085
1250,2.270000,2.010933,1.312,175.2300,2018-06-04,175.2400,Jun 4,172.9200,173.8400,532040,532040,174.6570
1251,0.990000,2.027944,0.565,176.2200,2018-06-05,176.6700,Jun 5,175.0100,175.2700,671523,671523,175.9853
1252,2.090000,2.063856,1.186,178.3100,2018-06-06,178.3200,Jun 6,176.1100,176.7200,528390,528390,177.6930
1253,-0.550000,2.054406,-0.308,177.7600,2018-06-07,178.7200,Jun 7,176.4196,178.6200,616255,616255,177.6379
1254,1.450000,2.079321,0.816,179.2100,2018-06-08,179.2900,Jun 8,177.3900,177.7600,477718,477718,178.7731
1255,-1.390000,2.055437,-0.776,177.8200,2018-06-11,179.8350,Jun 11,177.4100,179.1000,591951,591951,178.3352
1256,0.230000,2.059389,0.129,178.0500,2018-06-12,178.1800,Jun 12,176.2001,177.3500,535418,535418,177.3949
1257,-1.180000,2.039113,-0.663,176.8700,2018-06-13,179.0000,Jun 13,176.8200,178.3200,560236,560236,177.4910
1258,-0.940000,2.022961,-0.531,175.9300,2018-06-14,178.5000,Jun 14,175.4350,177.9200,740530,740530,176.1988
1259,0.870000,2.037910,0.495,176.8000,2018-06-15,176.9900,Jun 15,174.6800,175.5800,947819,947819,176.2716

## Getting a Quote:

In [10]:
print(iex.get_delayed_quote('MCO'))
iex.get_quote('MCO')

{'symbol': 'MCO', 'delayedPrice': 176.8, 'high': 176.99, 'low': 174.68, 'delayedSize': 279119, 'delayedPriceTime': 1529093051580, 'processedTime': 1529093953306}

{'symbol': 'MCO',
 'companyName': "Moody's Corporation",
 'primaryExchange': 'New York Stock Exchange',
 'sector': 'Financial Services',
 'calculationPrice': 'close',
 'open': 175.58,
 'openTime': 1529069641134,
 'close': 176.8,
 'closeTime': 1529093051580,
 'high': 176.99,
 'low': 174.68,
 'latestPrice': 176.8,
 'latestSource': 'Close',
 'latestTime': 'June 15, 2018',
 'latestUpdate': 1529093051580,
 'latestVolume': 914540,
 'iexRealtimePrice': 176.77,
 'iexRealtimeSize': 2,
 'iexLastUpdated': 1529092796027,
 'delayedPrice': 176.8,
 'delayedPriceTime': 1529093051580,
 'extendedPrice': 177,
 'extendedChange': 0.2,
 'extendedChangePercent': 0.00113,
 'extendedPriceTime': 1529096107838,
 'previousClose': 175.93,
 'change': 0.87,
 'changePercent': 0.00495,
 'iexMarketPercent': 0.0163,
 'iexVolume': 14907,
 'avgTotalVolume': 669315,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'marketCap': 33927920000,
 'peRatio': 26.95,
 'week52High': 179.835,
 'week52Low': 118.3291,
 'ytdChange': 0.21516303408999446}

In [11]:
iex.get_effective_spread('MCO')

,effectiveQuoted,effectiveSpread,priceImprovement,venue,venueName,volume
0,0.682121,0.084425,0.017067,XCHI,CHX,2165
1,0.633441,0.079264,0.024281,XPHL,Nasdaq PSX,69155
2,0.871047,0.062202,0.005699,ARCX,NYSE Arca,712552
3,0.682159,0.056932,0.015161,BATS,Cboe BZX,565333
4,0.754863,0.055810,0.010284,BATY,Cboe BYX,517597
5,0.710356,0.049995,0.012479,EDGX,Cboe EDGX,552408
6,0.724398,0.049057,0.010733,XNYS,NYSE,2140775
7,0.739624,0.047737,0.010275,XBOS,Nasdaq BX,609919
8,0.721561,0.045111,0.011324,EDGA,Cboe EDGA,146589
9,0.617062,0.044781,0.014723,XNGS,Nasdaq,2354646
10,0.727891,0.041082,0.011568,XASE,NYSE American,21712
11,0.436673,0.029883,0.025830,IEXG,IEX,362441

## Stats:

In [12]:
iex.get_stats('MCO').T

                                         0
EBITDA                          1618400000
EPSSurpriseDollar                     None
EPSSurprisePercent                 13.4831
beta                               1.19425
cash                            5621600000
companyName            Moody's Corporation
consensusEPS                          1.78
day200MovingAvg                    155.327
day30ChangePercent               0.0658089
day50MovingAvg                     169.202
day5ChangePercent              -0.00573614
debt                           10608500000
dividendRate                          1.76
dividendYield                     0.995475
exDividendDate       2018-05-18 00:00:00.0
float                            190677239
grossProfit                     2283500000
insiderPercent                        None
institutionPercent                    79.1
latestEPS                             5.15
latestEPSDate                   2017-12-31
marketcap                      33927920000
month1ChangePercent               0.037244
month3ChangePercent              0.0647203
month6ChangePercent               0.180334
numberOfEstimates                        6
peRatioHigh                              0
peRatioLow                               0
priceToBook                         169.89
priceToSales                       7.75116
profitMargin                          23.4
returnOnAssets                       13.43
returnOnCapital                       None
returnOnEquity                     -235.44
revenue                         3228900000
revenuePerEmployee                  268315
revenuePerShare                         17
sharesOutstanding                191900000
shortDate                       2018-05-31
shortInterest                      3126482
shortRatio                         4.36361
symbol                                 MCO
ttmEPS                                6.56
week52change                       47.5931
week52high                         179.835
week52low                          118.329
year1ChangePercent                0.475931
year2ChangePercent                0.842968
year5ChangePercent                 2.03791
ytdChangePercent                  0.216198